<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nkwa's Notes | Projects</title>

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/main.css')}}">
</head>
<body class="single-knowledgebase">

    <!-- Header -->
    <header class="hero overlay">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" class="brand">
                        <img src="{{url_for('static', filename='assets/images/logo1.png')}}" alt="AVFS logo">
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" href="https://nkwasey.com">Home</a></li>
                    </ul>
                </div>
           </div>
       </nav>
        <div class="masthead single-masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                </div>
                <div class="col-md-4">
                    <a target="_blank" href="https://github.com/nkwasey/" class="btn btn-hero">
                        <span class="icon-git"></span> Github Project<span class="icon-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Topics Section -->
    <section class="support-section text-white section ">
        <div class="container">
            <div class="row">
                <div class="divider"><i class="fa fa-support"></i></div>
                <header class="text-center">
                    <h2> Welcome to Nkwa's Projects</h2>
                    <div class="row features-section">
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a target="_blank" href="/fire-api">Fire Information API</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a target="_blank" href="/dashboard">Fire Information Dashboard</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">EUMETCast Data Sorter</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">COVID-19 Detector</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">Forest Fire Predictor</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">Fake Ghana Card Detector</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">Face Detection App</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">Air Quality Predictor</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                        <div class="text-center col-sm-4">
                            <div class="media-body">
                                <h3><a href="#">Mango Fruit Detector</a></h3>
                                <p class="text-muted">---------</p>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
        </div>
    </section>



<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3">
                <a href="#" class="brand">
                    <img src="{{url_for('static', filename='assets/images/logo1.png')}}" alt="AVFS logo">
                    <span class="circle"></span>
                </a>
            </div>
            <div class="col-lg-7 col-md-5 col-sm-9"></div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="copyright">
                    <p>Designed with love &copy; <a href="https://nkwasey.com" target="_blank">Nkwa</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="{{url_for('static', filename='assets/js/jquery-1.12.3.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
</body>
</html>



